
#!pitzDailyPimpleFoam/
pitzDailyPimpleFoam/*
!pitzDailyPimpleFoam/postProcessing/

# prueba de que no se requeire entrada de comentario de commit
!pitzDailyPimpleFoam/0/
!pitzDailyPimpleFoam/constant/
!pitzDailyPimpleFoam/system/

pitzDailyMappedPisoFoam/*
!pitzDailyMappedPisoFoam/postProcessing/



m1/*
!m1/postProcessing/

m2/*
!m2/postProcessing/

m3/*
!m3/postProcessing/
